@page "/CustomerEdit"
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.WebUtilities
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Newtonsoft.Json
@using System.Text
@using RestSharp
@inject ProtectedSessionStorage ProtectedSessionStore

<PageTitle>Edit Customer</PageTitle>

<h1>Customer</h1>

<div style="max-width: 500px; margin-top:20px">
    <div class="form-group" style="margin-bottom: 10px;">
        <label for="description">Description:</label>
        <input type="text" id="description" class="form-control" @bind-value="customer.CustomerName" />
    </div>
    <hr />
    <div class="form-group" style="margin-top: 10px;">
        <button type="button" class="btn btn-success" @onclick="cmdSave_Clicked">Save incident</button>
    </div>

</div>

@code {
    CoreServiceData? customer = new CoreServiceData();

    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var _id))
        {
            RestClient client = new RestClient("http://localhost:5236/CoreService/GetCustomer?CustomerID=" + _id);
            RestRequest request = new RestRequest("", Method.Get);
            RestResponse response = client.Execute(request);
            customer = JsonConvert.DeserializeObject<CoreServiceData>(response.Content);
        }
    }

    private void cmdSave_Clicked()
    {
        RestClient client = new RestClient($"http://localhost:5236/CoreService?Name={customer.CustomerName}&CustomerId={customer.CustomerId}");
        RestRequest request = new RestRequest("", Method.Post);
        RestResponse response = client.Execute(request);
        NavManager.NavigateTo("Customer");
    }
}
